tr:hover td{
    background-color:#6264A7;
    color: white !important;
    }
   
    table,Tr,Th,Td{
        box-sizing: border-box;
    }
    .avatar{
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 4%;
    }
    .name-icon{
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    .fqirzfu.f11jrhd7.fpq1e3l::before {
        content: "";
        background: red;
    }

    .f9dxrvh > button {
        position: absolute;
        height: 20px;
        background: none;
        background-image: url('https://image.flaticon.com/icons/svg/2089/2089792.svg');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        border: none;

    }

    .dropdown-Content{
        display: flex;
    }

    td.fklyo9b{
        position: relative;
    }
   
   
   