.container {
  display: flex;
  position: relative;
  width: 12vw;
  height: 40vh;
}

.buttonContainer {
  display: grid;
  width: 16vw;
  grid-template-columns: repeat(3, 1.2fr);
  grid-gap: 20px;
  padding: 20px;
  height: 30vh;
}
.mybutton {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 2.9vw;
  height: 50px;
  border: 1px solid #e1dfdd;
  border-radius: 6px;
  &:hover {
    background-color: #6266a3;
    color: white !important;
  }
}

.input-contanier {
  position: relative;
  width: 11vw;
}
.dialIcon-container {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 43%;
  &:hover {
    background: #6266a3;
    .dialIcon {
      color: white;
    }
  }
}

.letter {
  font-size: 14px;
  opacity: 0.6;
  &:hover{
    cursor: context-menu;
  }
}

.remove-icon:hover {
  color: #6264a7 !important;
}

.dialIcon {
  color: #8a8886;
}

.dialIcon:hover {
  color: white;
}

.buttonNumber {
  font-size: 22px;
  &:hover{
    cursor: context-menu;
  }
}
